apiVersion: v1
kind: Service
metadata:
  name: otel-agent
  namespace: observability
  labels:
    app: otel-agent
spec:
  type: ClusterIP
  selector:
    app: otel-agent
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
    - name: metrics
      port: 8888
      targetPort: 8888
      protocol: TCP
