apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bert-inference

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: bert-inference
  app.kubernetes.io/component: inference
  app.kubernetes.io/managed-by: kustomize
