apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bert-model-storage
  namespace: bert-inference
  labels:
    app: bert-inference
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: linode-block-storage-retain
