apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - namespace.yaml
  - config.yaml
  - otel-gateway
  - prometheus
  - loki
  - tempo
  - grafana

commonLabels:
  observability.io/component: hub
  observability.io/architecture: federated
